.card {
    min-height: 15rem;
    width: 10rem;
    overflow: hidden;
    margin: 0.3em;
    margin-top: 0.6em;
    padding: 0;
    border-radius: 0.5em;
    text-align: center;
    font-size: 0.8em;
    * {}

    .upper-section,
    .lower-section {
        min-height: 7.5rem;
    }

    .upper-section {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        content: '';
    }
    .lower-section{
        padding: 2% 6%;
        padding-top: 6%;
    }
}